* {
    font-family: 'GT America LCG Ext Rg', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 400 !important;
    line-height: 1.6em;
}

body {
    text-align: center;
    padding: 150px;
    background: #e1e1e1;
}

.display-1 {
    font-size: 100px !important;
    line-height: 1em !important;
    letter-spacing: -3px !important;
    margin-bottom: 20px;
}

h1 {
    font-family: 'GT America LCG Ext Bl', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 800 !important;
    font-size: 90px;
    line-height: 1.1em;
    letter-spacing: -2px;
    margin: 20px 0 0 0;
}

h1.fw-bold {
    font-weight: 800 !important;
    letter-spacing: -1px;
}

body {
    font: 20px 'GT America LCG Ext Rg', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 400;
    color: #1c2018;
}

p {
    color: rgba(28, 32, 24, .8);
    font-size: 20px;
}

svg {
    fill: #10a7d3;
    width: 100px;
    height: 100px;
}

tr,
td {
    border: 1px solid black;
    padding: 10px;
}

table {
    border-collapse: collapse;
    margin-bottom: 50px;
}

article {
    display: block;
    text-align: left;
    width: 900px;
    margin: 0 auto;
}

a {
    font-family: 'GT America LCG Ext Bl', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 700 !important;
    text-decoration: none !important;
    color: #0d6efd;
}

span.color {
    line-height: 1em;
    font-family: 'GT America LCG Ext Bl', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 800 !important;
    color: #0d6efd;
}

.footer {
    margin-top: 50px !important;
    font-size: 17px;
    color: #4e4e4e;
    text-align: left;
}

.footer span {
    line-height: 1em !important;
}

.footer span li {
    display: inline;
    margin-left: 20px;
}

.hero-div {
    margin-left: calc(-100vw / 2 + 800px / 2);
    margin-right: calc(-100vw / 2 + 800px / 2);
}

.card {
    padding: 1.2em;
    background-color: #ffffff;
    transition: 0.3s;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-title {
    line-height: 1.2em !important;
}

.card::before {
    background: #000;
}

.row {
    margin-bottom: 2em !important;
}

.card img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    margin-bottom: 1em;
}

.card h1 {
    font-family: 'Sharp Grotesk Medium 22', sans-serif;
    font-weight: 500;
    font-size: 1.7em;
    line-height: 1.4em;
    margin: 10px 0 10px 0;
    letter-spacing: 0px;
}

.card a,
button {
    display: inline-block;
    font-size: inherit;
    text-decoration: none;
    border: none;
    color: #ffffff;
    background: #10a7d3;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    margin-right: 10px;
}

.card a.project_url {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.card a.github_url {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.card a.google_play_url {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.card p {
    color: rgba(28, 32, 24, .8);
    font-size: inherit;
    margin: 0;
}

.center {
    text-align: center;
}

.sponsor {
    background-color: #0d6efd;
    color: #fff;
    z-index: 2;
}

.sponsor p {
    color: #fff;
}

.sponsor button {
    font-family: 'GT America LCG Ext Bl', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 800;
    background-color: transparent;
    border: 2px solid #fff;
}

.about {
    margin-top: 50px;
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: #1c2018;
    backdrop-filter: blur(10px) !important;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    overflow-wrap: break-word;
    width: 80%;
    border-radius: 10px;
}

.modal-content p {
    font-size: 15px;
}

.modal-content a {
    font-size: 15px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1145px) {
    article {
        width: 90%;
        margin: 0 auto;
    }
    body {
        padding: 10%;
    }
}

@media (max-width: 1000px) {
    body {
        padding: 5px;
    }
    .about a,
    .sponsor button {
        width: 100%;
        text-align: center;
    }
    .about a:nth-child(1),
    .about a:nth-child(2) {
        margin-bottom: 10px;
    }
    h1 {
        font-size: 70px;
    }
    h1.hero {
        padding-top: 100px;
    }
}

@media (max-width: 1000px) {
    .display-1 {
        font-size: 80px !important;
    }
}

@media (max-width: 768px) {
    .display-1 {
        font-size: 70px !important;
        letter-spacing: -2px !important;
    }
}

@media (max-width: 623px) {
    .footer span li {
        margin-left: 5px;
    }
}

@media (max-width: 575px) {
    .footer span li {
        display: flex;
        margin-left: 0;
    }
    .footer span ul {
        padding-left: 0;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 47px;
    }
    .card h1 {
        font-size: 1.45em;
    }
    .card p,
    .card a,
    .sponsor button {
        font-size: 17px;
    }
    .display-1 {
        font-size: 50px !important;
    }
}