<title>{{ page.title }}</title>
<link rel="shortcut icon" href="https://marcreyes.ph/images/ico/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="theme-color" content="#10a7d3">
<link rel="stylesheet" type="text/css" href="{{ 'assets/shgr/stylesheet.css' | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'assets/stylesheet.css' | relative_url }}">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">