<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg sponsor" style="border-radius: 15px !important;">
    <div>
        <h1 class="display-5 text-center">💝 Help me build more open-source projects</h1>
        <p class="text-center">Hosting, security, and more. Sponsor some of my projects and your help can go a long way.</p>
    </div>
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-outline-light btn-lg px-4 text-center" href="#" id="sponsorLaunch">Sponsor Now</button>
        </div>
    </div>
</div>
<div id="sponsorModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title display-6">Sponsor</h1>
                <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row flex-lg-row-reverse align-items-center">
                    <div class="col-10 col-sm-8 col-lg-6">
                        <a href="https://paypal.me/marcreyesph" target="_new" style="margin-bottom: 30px;" class="btn btn-lg btn-primary">Access PayPal.me</a>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="fs-4">One-time Sponsorship</h3>
                        <p class="lead">Sponsor with PayPal.me</p>
                    </div>
                </div>
                <div class="row flex-lg-row-reverse align-items-center">
                    <div class="col-10 col-sm-8 col-lg-6">
                        <form action="https://www.paypal.com/donate" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_donations" />
                            <input type="hidden" name="business" value="6332RTTB3TNGU" />
                            <input type="hidden" name="item_name" value="XYZ by Marc Reyes open source project sponsorhip" />
                            <input type="hidden" name="currency_code" value="USD" />
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                            <img alt="" border="0" src="https://www.paypal.com/en_PH/i/scr/pixel.gif" width="1" height="1" />
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="fs-4">Recurring Sponsorship</h3>
                        <p class="lead">Made possible with PayPal</p>
                    </div>
                </div>
                <div class="row flex-lg-row-reverse align-items-center">
                    <div class="col-10 col-sm-8 col-lg-6">
                        <img src="{{ 'assets/images/btc.jpg' | relative_url }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                    </div>
                    <div class="col-lg-6">
                        <h3 class="fs-4">Bitcoin</h3>
                        <p class="lead">17onn54pNsgUPJ53STc1ANpGKq4vqZJqbj</p>
                    </div>
                </div>
                <div class="row flex-lg-row-reverse align-items-center">
                    <div class="col-10 col-sm-8 col-lg-6">
                        <img src="{{ 'assets/images/eth.jpg' | relative_url }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                    </div>
                    <div class="col-lg-6">
                        <h3 class="fs-4">Etherium</h3>
                        <p class="lead">0xBdE5eB5820CFDA424Cc3D764194dA508Ef24fB2b</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>